@{
    ViewData["Title"] = "OTP inviata";
}

@if (((string)ViewData["OTPResult"]) == "Success")
{
    <div class="text-center offset-2 col-8">
        <h1 class="display-4">OTP inviato</h1>
        <h3>Il codice OTP &egrave; stato inviato all'indirizzo @this.User.Identity.Name</h3>
    </div>

}
else
{
    <div class="text-center offset-2 col-8">
        <h1 class="display-4">Problema nell'invio dell'OTP</h1>
        <h3>Errore nell'invio del codice OTP all'indirizzo @this.User.Identity.Name riprovare e in caso di ulteriore malfunzionamento contattare la commissione</h3>
    </div>
}
