@{
    ViewData["Title"] = "Attendere commissario";
}

<div class="text-center offset-2 col-8">
    <h1 class="display-4">Nessun commissario &egrave; disponibile per il riconoscimento</h1>
    <h3>Riprovare tra qualche minuto.</h3>
</div>
