@{
    ViewData["Title"] = "Votazione conclusa";
}

<div class="text-center offset-2 col-8">
    <h1 class="display-4" >L'operazione di voto si è conclusa correttamente, si prega di chiudere la finestra del browser</h1>
</div>
