<div class="text-center">
    <h1 class="display-4">Key cerimony</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Tally">
        <p>Provide 5 key files</p>
        <input class="form-control" name="files" multiple="multiple" type="file" />
        <input type="submit" value="Procedi allo spoglio"/> 
    </form>
</div>