@{
    ViewData["Title"] = "Eligere";
}

<div class="text-center">
    <h1 class="display-4">Eligere</h1>
        <div class="col-6 offset-3">
            <hr />
            <h4>Procedura di voto</h4>

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"><a asp-controller="People" asp-action="Index" target="_private">Inizio procedura di voto</a></li>
            </ul>
        </div>
</div>
