@model (Dictionary<Guid, int>, Dictionary<Guid,string>)

@{ 
    var (counters, elnames) = Model;
    var table = from c in counters join n in elnames on c.Key equals n.Key select new { ElectionName = n.Value, Count = c.Value };
}

<div class="text-center">
    <h1 class="display-4">Contatori</h1>
    <ul class="list-group">
        @foreach (var count in table)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @count.ElectionName
                <span class="badge badge-primary badge-pill">@count.Count</span>
            </li>

        }
    </ul>
</div>
