@model (string,string)
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Si è verificato un errore</h1>
<h1 class="text-warning">@Model.Item1</h1>
<h2 class="text-danger">@Model.Item2</h2>
