@{
    ViewData["Title"] = "EligereVS Setup";
}

<script type="text/javascript">
    function validateAndSubmit() {
        var pwd1 = $('#masterpasswordid').val();
        var pwd2 = $('#masterpassword2id').val();
        if (pwd1.length < 8) {
            alert("Passphrase must be at least 8 characters long")
            return false;
        }
        if (pwd1 != pwd2) {
            alert("Passphrases do not match")
            return false;
        }
        $('#pwdform').submit()
    }
</script>

<div class="text-center">
    <h1 class="display-4">Welcome to Eligere Voting System Setup</h1>

    <div class="row offset-2 col-8 text-left">
        <form id="pwdform" method="post" asp-controller="Home" asp-action="SetupMasterPassword" class="form w-100">
            <div class="form-group">
                <label for="masterpasswordid">Passphrase</label>
                <input type="password" name="masterpassword" class="form-control w-100" id="masterpasswordid" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="masterpassword2id">Retype passphrase</label>
                <input type="password" class="form-control" id="masterpassword2id" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary" onclick="validateAndSubmit()">Set password</button>
        </form>
    </div>

    <a target="_blank" asp-controller="Home" asp-action="SetupCheckList">Setup checklist</a>
</div>
