@model EligereES.Models.Client.ESConfiguration

@{
    ViewData["Title"] = "EligereVS Configuration";
}

<div class="text-center">
    <h1 class="display-4">Configuration</h1>
</div>


<div class="text-center" style="margin-top:50px">
    <a asp-controller="Setup" asp-action="StartDailyElections" class="btn btn-primary">Enable today elections</a>
</div>

<div class="row offset-2 col-8 text-left">
    <div class="text-left">
        <h3>Endpoints</h3>
    </div>
    <form id="pwdform" method="post" asp-controller="Setup" asp-action="SaveAPI" class="form w-100">
        <div class="form-group">
            <label for="eligereesid">EligereES API endpoint</label>
            <input type="text" name="eligerevsapi" class="form-control w-100" id="eligerevsid" value="@Model.VotingSystemTicketAPI" placeholder="https://eligerevs.unipi.it/Vote/ElectionCard">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<div class="row offset-2 col-8 text-left">
    <div class="text-center">
        <h3>Eligere communication Keyfile (EVS key)</h3>
    </div>
    <div class="form-group">
        <div>
            Generate a new key for communication between ES and VS (It requires application restart)
        </div>
        <div class="input-group mb-3">
            <a asp-controller="Setup" asp-action="ResetKeys" class="btn btn-primary">Reset Key ring</a>
        </div>
    </div>
    <div class="form-group">
        <div>
            Generate a download password to enable VS to download the key (it can be used only once)
        </div>
        <div class="input-group mb-3">
            <a asp-controller="Setup" asp-action="GenerateDownloadOTP" class="btn btn-primary">Generate download OTP password</a>
        </div>
        <div class="input-group mb-3">
            <a asp-controller="Setup" asp-action="ResetDownloadOTP" class="btn btn-primary">Reset download OTP password</a>
        </div>
        <div class="input-group mb-3">
            <a asp-controller="Setup" asp-action="TestSmtpServer" class="btn btn-primary">Test SMTP server</a>
        </div>
    </div>
</div>
