@model EligereES.Models.Client.ESConfiguration

@{
    ViewData["Title"] = "EligereVS Keys reset";
}

<h1>Key ring has been emptied. Please reset the application by restarting the process or the Web Server</h1>